<template name="Pos_sidebarMenu">
    <li class="{{isActiveRoute name='pos.home'}}">
        <a href="{{pathFor 'pos.home'}}">
            <i class="fa fa-home"></i> <span>{{_ "pos.sidebarMenu.home"}}</span>
        </a>
    </li>

    <!--Data-->
    {{#if isInRole 'data-insert,data-update,data-remove' 'Pos'}}
        <li class="header"><i class="fa fa-database"></i> DATA</li>
        <li class="{{isActiveRoute name='pos.customer'}}">
            <a href="{{pathFor 'pos.customer'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "pos.sidebarMenu.customer"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='pos.vendor'}}">
            <a href="{{pathFor 'pos.vendor'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "pos.sidebarMenu.vendor"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='pos.stockLocation'}}">
            <a href="{{pathFor 'pos.stockLocation'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "pos.sidebarMenu.stockLocation"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='pos.staff'}}">
            <a href="{{pathFor 'pos.staff'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "pos.sidebarMenu.staff"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='pos.order'}}">
            <a href="{{pathFor 'pos.order'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "pos.sidebarMenu.order"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='pos.purchaseOrder'}}">
            <a href="{{pathFor 'pos.purchaseOrder'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "pos.sidebarMenu.purchaseOrder"}}</span>
            </a>
        </li>
    {{/if}}

    <!--Report-->
    {{#if isInRole 'reporter' 'Pos'}}
        <li class="header"><i class="fa fa-file-o"></i> REPORT</li>
        <li class="{{isActiveRoute name='pos.customerReport'}}">
            <a href="{{pathFor 'pos.customerReport'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "pos.sidebarMenu.customer"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='pos.orderReport'}}">
            <a href="{{pathFor 'pos.orderReport'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "pos.sidebarMenu.order"}}</span>
            </a>
        </li>
    {{/if}}

    <!--Settings-->
    {{#if isInRole 'setting' 'Pos'}}
    <li class="treeview">
          <a href="#">
            <i class="fa fa-cogs"></i>
            <span>SETTING</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li class="{{isActiveRoute name='core.exchange'}}">
                <a href="{{pathFor 'core.exchange'}}">
                    <i class="fa fa-circle-o"></i> <span>{{_ "core.sidebarMenu.exchange"}}</span>
                </a>
            </li>
              <li class="{{isActiveRoute name='pos.categroy'}}">
                  <a href="{{pathFor 'pos.category'}}">
                      <i class="fa fa-circle-o"></i> <span>{{_ "pos.sidebarMenu.category"}}</span>
                  </a>
              </li>
            <li class="{{isActiveRoute name='pos.unit'}}">
                <a href="{{pathFor 'pos.unit'}}">
                    <i class="fa fa-circle-o"></i> <span>Unit</span>
                </a>
            </li>
              <li class="{{isActiveRoute name='pos.item'}}">
                  <a href="{{pathFor 'pos.item'}}">
                      <i class="fa fa-circle-o"></i> <span>{{_ "pos.sidebarMenu.item"}}</span>
                  </a>
              </li>
            <li class="{{isActiveRoute name='pos.term'}}">
                <a href="{{pathFor 'pos.term'}}">
                    <i class="fa fa-circle-o"></i> <span>Term</span>
                </a>
            </li>
            <li class="{{isActiveRoute name='pos.paymentGroup'}}">
                <a href="{{pathFor 'pos.paymentGroup'}}">
                    <i class="fa fa-circle-o"></i> <span>{{_ "pos.sidebarMenu.paymentGroup"}}</span>
                </a>
            </li>
          </ul>
      </li>
    {{/if}}
</template>
