.container-split {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    width: 100%;
}
.container-split .eft {
    width: 50vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.container-split .right {
    width: 50vw;
    height: 100vh;
    background-color: #7B5A9E;
    display: flex;
}

@media all and (max-width: 35em) {
    .container-split {
        display: flex;
        flex-direction: column;
    }
    .container-split .eft {
        width: 100vw;
        max-height: 100%;
    }
    .container-split .right {
        width: 100vw;
        max-height: 100%;
    }
}
